:root {
    --speed: 3;
}

body{
    /* background-color: bisque;
    background-color: lightsalmon; */
    background-image: radial-gradient(bisque, moccasin, rgb(226, 155, 32));
    background-color: rgb(228, 148, 9);
}

.heading {
    margin-top: 40px;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}

.machine {
    background-color: burlywood;
    border: dashed brown 2px;
    height: 500px;
    width: 1000px;
    /* margin-top: 50px; */
    margin: 50px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center; */
}

.slot {
    height: 275px;
    width: 275px;
    margin: 20px;
    background-color: lightblue;
    background-image: radial-gradient(rgb(225, 240, 252), rgb(105, 192, 221));

    border: solid darkblue 2px;

    overflow: hidden;

    font-size: 125px;
    text-align: center;
    line-height: 275px;
}

#spd-btn, #start-btn {
    padding: 1%;
    margin: 10px;
    background-color: rgb(150, 202, 204);
    border-radius: 5px;
}

.down {
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc((6 - var(--speed)) * 0.1s);
    /* animation-duration: 0ms; */
}

.up {
    animation-name: slotspin_rev;
    animation-iteration-count: infinite;
    animation-duration: calc((6 - var(--speed)) * 0.1s);
}

@keyframes slotspin {
    0%{
        transform: translateY(-275px);
    }
    100%{
        transform: translateY(275px);
    }
}

@keyframes slotspin_rev {
    0%{
        transform: translateY(275px);
    }
    100%{
        transform: translateY(-275px);
    }
}